In [5]:
#Add pandas
import pandas as pd

#Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#Data frames for the files
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

student_data_df = pd.read_csv(student_data_to_load)
student_data_df

school_data_df.count()
student_data_df.count()

#determine if there are any missing values in school data
school_data_df.isnull()

#determine if there are any missing values in student data
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [6]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [7]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [11]:
#Add each prefix and suffix
prefixes_suffixes = ["Dr. ","Mr. ", "Mrs. ", "Ms. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")
    
student_data_df.head(10)

<ipython-input-11-72db4a7013fe>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [13]:
school_data_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [15]:
#Create a merged DataFrame using "merge" method on pandas object
school_data_complete_df = pd.merge(school_data_df,student_data_df, on=["school_name", "school_name"])
school_data_complete_df.head(10)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [18]:
#Get total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [19]:
#total number of schools
school_count = school_data_df["school_name"].count()
school_count

15

In [20]:
#total schools a different way
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [21]:
#total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [22]:
#Calulate avg reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [23]:
#Calcluate average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [25]:
passing_math = school_data_complete_df["math_score"]>=70
passing_reading = school_data_complete_df["reading_score"]>=70
passing_reading

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [26]:
#To filter a data frame, put the data fram and conditions in brackets
#filter data frame for all passing math, then make new dataframe 
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_math_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87

In [27]:
#new data frame for all students filtered for passing reading- use previous variable as argument for the filter
passing_reading_df=school_data_complete_df[passing_reading]
passing_reading_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [30]:
#calculate the number of students passing each assessment
passing_math_count= passing_math_df["student_name"].count()
passing_reading_count = passing_reading_df["student_name"].count()
passing_math_count
passing_reading_count

33610

In [32]:
#calc percentage passing each assessment
passing_math_percentage = passing_math_count / float(student_count)*100
passing_reading_percentage = passing_reading_count / float(student_count)*100
passing_reading_percentage

85.80546336482001

In [48]:
#Calc students who passed both
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]
passing_math_reading.head()
passing_math_reading["student_name"].count()
#or 
passing_math_reading.student_name.count()
overall_passing_reading_math_count = passing_math_reading.student_name.count()
overall_passing_reading_math_count

#calculate passing percentage
overall_passing_percentage = overall_passing_reading_math_count/ float(student_count)*100
overall_passing_percentage

65.17232575950983

In [55]:
#District Summary DF
district_summary_df = pd.DataFrame(
            [{"Total Schools": school_count,
             "Total Students": student_count,
              "Total Budget": total_budget,
              "Average Math Score": average_math_score,
              "Average Reading Score": average_reading_score,
              "% Passing Math": passing_math_percentage,
              "% Passing Reading": passing_reading_percentage,
              "% Overall Passing": overall_passing_percentage
             
             }])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [88]:
#formatting values in district_summary df
#district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [100]:
#Had to reestablish dataframe from repeated formatting...how do we undo formatting?
district_summary_df = pd.DataFrame(
            [{"Total Schools": school_count,
             "Total Students": student_count,
              "Total Budget": total_budget,
              "Average Math Score": average_math_score,
              "Average Reading Score": average_reading_score,
              "% Passing Math": passing_math_percentage,
              "% Passing Reading": passing_reading_percentage,
              "% Overall Passing": overall_passing_percentage
             
             }])

district_summary_df
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [106]:
#Had to reestablish dataframe from repeated formatting...how do we undo formatting?
district_summary_df = pd.DataFrame(
            [{"Total Schools": school_count,
             "Total Students": student_count,
              "Total Budget": total_budget,
              "Average Math Score": average_math_score,
              "Average Reading Score": average_reading_score,
              "% Passing Math": passing_math_percentage,
              "% Passing Reading": passing_reading_percentage,
              "% Overall Passing": overall_passing_percentage
             
             }])

district_summary_df
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [107]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [108]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [109]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [110]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [112]:
#reorder df columns for top-down info
new_column_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

#assign district summary df new order
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65